body{
    font-family: "Plus Jakarta Sans", sans-serif !important ;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: #fff;
}

.navbar .container-fluid {
    background-color: #fff;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}

/* Footer */

.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}

/* Card */
.listing-card{
    border:none !important;
    margin-top: 2rem !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New page*/

.add-btn{
     background-color:#fe424d !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
    background-color:#fe424d !important;
    border: none !important;

}

/* Show page */
.show-img{
    height:60vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
    margin-top: 0 !important;
}



/* Listing-Reservation */

.reservation-card{
   padding: 1rem;
  
   
}

.card-div{
    justify-content: center;
}

.guests{
    display: flex !important;
    justify-content: space-between;
    width:250px;
}

.guest-count{
    font-size: large;
    line-height: 0.5rem;
}

.result-div {
    display: flex;
    justify-content: space-between;
}

.result-p{
    display: inline;
}

.result-h {
    text-align: center;
    margin-top: 2px;
}


/* Flash div */

.modal-body{
height: 600px;
width: 700px;
background-color:black;
opacity: 1;
}


/* User Profile */

.fa-circle-user{
    font-size: 30px;
}

.dropdown-menu{
    margin-top: 60px !important;
    height: 400px;
    width: 350px;
    padding: 0.5rem 1rem 0 1rem !important ;
    overflow:auto;
    
}
.dropdown-menu h6 {
    padding-left: 1rem;
}

.dropstart{
    margin-right: 2rem !important;
}